---
  - name: Set DEFROUTE=No on routers, servers, clients
    hosts: routers,servers,clients
    become: True
    
    tasks:
      - name: Set DEFROUTE=No
        shell: echo "DEFROUTE=no" >> /etc/sysconfig/network-scripts/ifcfg-eth0

      - name: Restart network
        service: 
          name: network
          state: restarted


  - name: inetRouter configuration
    hosts: inetRouter
    become: True

    tasks:
      - name: Set ip forwarding
        sysctl:
          name: net.ipv4.ip_forward
          value: '1'
          sysctl_set: yes
          state: present
          reload: yes
      
      - name: IPtables Configuration
        command: echo net.ipv4.conf.all.forwarding=1  >> /etc/sysctl.conf

      - name: Copy bond interface from host
        copy:
          src: files/bond0ir
          dest: /etc/sysconfig/network-scripts/ifcfg-bound0

      - name: Copy eth1 interface from host
        copy:
          src: files/eth1
          dest: /etc/sysconfig/network-scripts/ifcfg-eth1
          owner: root
          group: root
          mode: '0644'

      - name: Copy eth2 interface from host
        copy:
          src: files/eth2
          dest: /etc/sysconfig/network-scripts/ifcfg-eth2
          owner: root
          group: root
          mode: '0644'
        
      - name: Route via bond
        shell: echo "192.168.0.0/16 via 192.168.255.2 dev bond0" >> /etc/sysconfig/network-scripts/route-bond0

      - name: Restart network
        service: 
          name: network
          state: restarted
    
      - name: IPtables Configuration
        command: iptables -t nat -A POSTROUTING ! -d 192.168.0.0/16 -o eth0 -j MASQUERADE
      
      - name: ip routing 192.168.1.0/24
        command: ip route add 192.168.1.0/24 via 192.168.255.2
      
      - name: ip routing 192.168.255.4/30
        command: ip route add 192.168.255.4/30 via 192.168.255.2

      - name: ip routing 192.168.255.8/30
        command: ip route add 192.168.255.8/30 via 192.168.255.2
    
  - name: Routers configuration
    hosts: routers
    become: True

    tasks:
      - name: Set ip forwarding
        sysctl:
          name: net.ipv4.ip_forward
          value: '1'
          sysctl_set: yes
          state: present
          reload: yes

  - name: centralRouter Ñonfiguration 
    hosts: centralRouter
    become: True

    tasks:
      - name: Change default gateway
        shell: echo "GATEWAY=192.168.255.1" >> /etc/sysconfig/network-scripts/ifcfg-eth1

      - name: Copy bond interface from host
        copy:
          src: files/bond0cr
          dest: /etc/sysconfig/network-scripts/ifcfg-bound0

      - name: Copy eth1 interface from host
        copy:
          src: files/eth1
          dest: /etc/sysconfig/network-scripts/ifcfg-eth1
          owner: root
          group: root
          mode: '0644'

      - name: Copy eth2 interface from host
        copy:
          src: files/eth2
          dest: /etc/sysconfig/network-scripts/ifcfg-eth2
          owner: root
          group: root
          mode: '0644'
    
      - name: Restart network
        service: 
          name: network
          state: restarted

  - name: Configuration office1Router
    hosts: office1Router
    become: True

    tasks:
      - name: Change default gateway
        shell: echo "GATEWAY=192.168.255.5" >> /etc/sysconfig/network-scripts/ifcfg-eth1

      - name: Restart network
        service: 
          name: network
          state: restarted

  - name: Configuration testServer1
    hosts: testServer1
    become: True

    tasks:
      - name: Change default gateway
        shell: echo "GATEWAY=192.168.3.1" >> /etc/sysconfig/network-scripts/ifcfg-eth1

      - name: Copy VLAN interface config
        copy:
          src: 'files/vlan1s'
          dest: '/etc/sysconfig/network-scripts/ifcfg-vlan1'
          owner: root
          group: root
          mode: '0644'

      - name: Restart network
        service: 
          name: network
          state: restarted

  - name: Configuration testClient1
    hosts: testClient1
    become: True

    tasks:
      - name: Change default gateway
        shell: echo "GATEWAY=192.168.3.1" >> /etc/sysconfig/network-scripts/ifcfg-eth1

      - name: Copy VLAN interface config
        copy:
          src: 'files/vlan1c'
          dest: '/etc/sysconfig/network-scripts/ifcfg-vlan1'
          owner: root
          group: root
          mode: '0644'

      - name: Restart network
        service: 
          name: network
          state: restarted

      - name: Restart network
        service: 
          name: network
          state: restarted

  - name: Configuration testServer2
    hosts: testServer2
    become: True

    tasks:
      - name: Change default gateway
        shell: echo "GATEWAY=192.168.3.1" >> /etc/sysconfig/network-scripts/ifcfg-eth1
      
      - name: Copy VLAN interface config
        copy:
          src: 'files/vlan2s'
          dest: '/etc/sysconfig/network-scripts/ifcfg-vlan2'
          owner: root
          group: root
          mode: '0644'

      - name: Restart network
        service: 
          name: network
          state: restarted

  - name: Configuration testClient2
    hosts: testClient2
    become: True

    tasks:
      - name: Change default gateway
        shell: echo "GATEWAY=192.168.3.1" >> /etc/sysconfig/network-scripts/ifcfg-eth1

      - name: Copy VLAN interface config
        copy:
          src: 'files/vlan2c'
          dest: '/etc/sysconfig/network-scripts/ifcfg-vlan2'
          owner: root
          group: root
          mode: '0644'

      - name: Restart network
        service: 
          name: network
          state: restarted
...