[Unit]
Description=Log service

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/monitoring.cfg
ExecStart=/var/log/monitoring.sh $WORD $LOG

[Install]
WantedBy=multi-user.target
